MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/urlshortener
JWT_SECRET=replace_with_a_long_random_string
APP_URL=http://localhost:3000/
FRONTEND_URL=http://localhost:5173
NODE_ENV=development